<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.ghprb.GhprbRepository plugin="ghprb@1.32.2">
  <reponame>s-ashwinkumar/HoneyComb</reponame>
  <pullRequests class="concurrent-hash-map">
    <entry>
      <int>4</int>
      <org.jenkinsci.plugins.ghprb.GhprbPullRequest>
        <id>4</id>
        <updated>2016-06-08 20:02:45.0 UTC</updated>
        <head>aaad6aa7325bba1b93b7c1f98b79f51d22ea5e10</head>
        <base>a9e20d8df309bc3aaf72b3cc7d6987714dedaaf2</base>
        <accepted>true</accepted>
        <lastBuildId>22</lastBuildId>
      </org.jenkinsci.plugins.ghprb.GhprbPullRequest>
    </entry>
  </pullRequests>
</org.jenkinsci.plugins.ghprb.GhprbRepository>